<?php

// Base URL of the CiviCRM site, without the trailing slash
$civicrm_base_url = '';

// "Drupal", "Joomla", "WordPress", or "Backdrop"
$civicrm_cms = '';

// API key for a user that can access all contacts
$civicrm_api_key = '';

// Site key
$civicrm_site_key = '';

// Path to SSL certificate
$ssl_cert_path = '';

// Path to SSL certificate key
$ssl_key_path = '';

// Array of valid users and passwords, e.g.
// $ldap_user_table = [
//   'myuser' => 'password1234',
//   'otheruser' => 'fo0o0o0o0o0o0bar',
// ];
$ldap_user_table = [];
