<?php
/**
 * LDAP for CiviCRM
 * Copyright (C) 2020 AGH Strategies, LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

// Array of site details
$ldap_sites = [
  // 'mysite' => [
  //   // Base URL of the CiviCRM site, without the trailing slash
  //   'baseUrl' => '',
  //   // "Drupal", "Joomla", "WordPress", or "Backdrop"
  //   'cms' => '',
  //   // API key for a user that can access all contacts
  //   'apiKey' => '',
  //   // Site key
  //   'siteKey' => '',
  // ],
];

// Array of valid users and passwords
$ldap_user_table = [
  // 'cn=root,dc=example,dc=org' => [
  //   'password' => 'password1234',
  //   'site' => 'mysite',
  // ],
  // 'cn=someone,dc=example,dc=org' => [
  //   'password' => 'fo0o0o0o0o0o0bar',
  //   'site' => 'mysite',
  // ],
];

// Path to SSL certificate
$ssl_cert_path = '';

// Path to SSL certificate key
$ssl_key_path = '';
